<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
</head>
    <body>
        <main>
        <div class ="heading">
        Travel App
      </div>
      <div class = "form_field">
        <div class ="city">
          <label for="city">Enter the place you want to visit:</label></br>
          <input type="text" id="city" placeholder="Ex : Paris">
        </div>
      <div class ="date1">
        <label for="date">Starting date of the trip:</label></br>
        <input type="date" id="date" >
      </div>
      <div class ="date2">
        <label for="date">Ending date of the trip:</label></br>
        <input type="date" id="end_date" >
      </div>
    
      <div class ="button">
      <button id="generate" type = "submit"> Apply </button>
      </div>
    </div>
    <div class= "result">
      <div class ="trip_data">
        <div id="cityname"></div>
        <div id="max_temp"></div>
        <div id="min_temp"></div>
        <div id="summary"></div>   
      </div>
      <div class="picture" id="picture">
      </div>
    </div>
    </main>
        <footer>
            <p>&copy; Developed by Surabhi Goswami</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                   navigator.serviceWorker.register('/service-worker.js').then(registration =>{
                       console.log('SW registered: ', registration);
                    });
                });
            }
            else{
                console.log("Service Workers not working");
            }
            window.onbeforeunload = function() {
             return "Are you sure you want to leave?";
            }
        </script> 
    </body>
</html>
