@import url('base.scss');

.form_field{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: auto;
    font-family: Harrington;
    font-size: 1.3em;
}
#generate{
    padding: 5px 20px;
    border-radius: 10px;
    border-color: seashell;
    font-size: 1em;
    color: white;
    background-color: deeppink;
    font-family: Harrington
}
#generate:hover {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
  }
input {
    padding: 5px 20px;   
    line-height: 16px;
    margin: 10px 0;
    border-radius: 10px;
    border-color: seashell;
}
