@import url('base.scss');

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0em 1em 0em;
    font-size: 5em;
    font-family: Curlz MT;
    color: hotpink;
}
